<section id="intro" class="main style1 dark fullscreen">
	<div class="content">
		<header>
			<h2>{{ site.introGreeting }}</h2>
		</header>
		<p>Our task is to build a system that takes text as input and generate hashtags relevant to the text to post along with the content/text that goes on social media platforms such as Instagram. In addition to post text, we also use other hashtags and comments from the post to give us more context from which to generate our new hashtags from. We will incorporate a notion of popularity (e.g. posts that got more likes, popular users, popular hashtags used on the internet etc) to differentiate from some prior art that exists.</p>
		<footer>
			<a href="#one" class="button style2 down">More</a>
		</footer>
	</div>
</section>