<section id="one" class="main style2 right dark fullscreen">
	<div class="content box style2">
		<header><!-- 
			<h2>What I Do</h2>
		</header> -->
		<h2>Challenges</h2>
		<ol>
		<li>Instagram has more number of hashtags and  longer post length than twitter and Weibo.</li>
		<li>User based scraping is very slow because of the limit for GQL queries. For users > 500 posts we encountered many blocking delays as well.</li>
		<li>Data scarcity on Instagram: We generally get posts with minimal text which does not help provide any context. Image, post and hashtag have nearly no correlation. The hashtag could be related to either the post content or the picture. Eg. Picture: Empire State Building; Hashtags: #nyc #amaze #empirestatebuilding; Post: “had an amazing day!”. Comments are more motivational and supportive (eg. nice pic, love it, etc) whereas twitter comments are more relevant to the post.
		<!-- <br> -->In order to deal with this, we decided to train our model on data scraped from users who generally post with longer text and few decent hashtags from which we can derive better context. </li> 
		<li>Context and likes generated tags are two separate categories and evaluating two separate metrics in one go is not viable. We  assign a higher priority to the context while ranking popularity. </li>
		<li>For incorporating likes into the model, we need a dataset that captures the distinction/popularity between two different hashtags given that the context of the post is the same. Eg: <br>
    Post1 : The theme for Felicity is Superheroes #FestofIIITH <br>
    Post2 : The theme for Felicity is Superheroes #FunatIIITH <br>
    
    As per our knowledge, there is no such available data source to scrape from that would capture this phenomenon and hence, ranking based on this idea is not possible. 
		</li>
	</ol>
	</div>
	
	<a href="#two" class="button style2 down anchored">Next</a>
</section>