<section id="two" class="main style2 left dark fullscreen">

	<div class="content box style2">
		<h2>Team 20</h2>
		<br>
		<h3>Members:</h3>
		<ol>
			<li>Sravani Boinepelli, 20171050</li>
			<li>Rishabh Chandra, 2018201074</li>
			<li>Ravi Jakhania, 2018201018</li>
			<li>Pulkit Verma, 2018900088</li>
		</ol>
		<h3>Email:</h3>
		<ol>
			<li>sravani.boinepelli@research.iiit.ac.in</li>
			<li>rishabh.chandra@students.iiit.ac.in</li>
			<li>ravi.jakhania@students.iiit.ac.in</li>
			<li>pulkit.v@students.iiit.ac.in</li>
		</ol>

		<!-- <h3>Model:</h3> -->
		<!-- <p>Actual model description</p>
		<ol>
			<li>Splitting hashtag for better context and accuracy using the Viterbi algorithm</li>
			<li>Incorporating likes, cosine similarity for ranking relevant hashtags, the loss function we came up with (more importance given to context generated hashtag than likes)</li>
		</ol> -->
		<h3>Video Presentation:</h3>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/nBHkIWAJitg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<!-- <a href="#work" class="button style2 down anchored">Next</a> -->
</section>