<section id="work1" class="main style3 secondary">

	<div class="content">
		<header>

			<h2>The Model - What set us aside from the SOTA:</h2> 
			<div style="text-align: left;">
				<h3>Preprocessing:</h3>
				<ol>
					<li>Removed noisy data like emoticons and non-ASCII data and single character hashtags</li>
					<li>Replaced numbers, URLs, tagged users etc with corresponding tags (DIGIT,  MENTION, URL etc).</li>
					<li>Segregate by tag, post and comments for overall context</li>
					<li>Handling multiple hashtags: post 1 h1 con1, post 1 h2 con2 etc etc (each hashtag should correspond to the same post)</li>
					<li>For training instances tagged with multiple gold-standard hashtags, we copy the instances multiple times, each with one gold standard hashtag following.</li>
					<li>Splitting hashtag for better context and accuracy using the  Viterbi algorithm</li>
				</ol>
			</div>

			<div style="text-align: left;">
				<h3>Incorporating likes:</h3>
			</div>
			<div style="text-align: left;">
				<ol>
					<li>The hashtags are sorted by topics(through clustering/ manually/topic modelling) and ranked by number of likes.</li>
					<li>Popularity Ranking Algorithm takes two inputs: The output hashtags from the above model along with the list of hashtags per topic sorted by likes. </li>
					<li>Since our model predicts unseen hashtags we can only compare topic based hashtags from the training dataset and newly generated hashtags using a similarity metric. We chose the standard cosine_similarity as our metric. More priority is given to the context than to the level of popularity.</li>
				</ol>
			</div>
			<img src="images/architecture_ig.jpg" alt="" />

		</header>
	</div>
	<a href="#two" class="button style2 down anchored">Next</a>
</section>