<section id="work" class="main style3 primary">
	<div class="content">
		<header>
			<h2>Data and Evaluation:</h2> <br>

			<h3>Datasets used:</h3>
			<p>We scraped instagram pages via users and hashtags for posts, comments and number of likes per post. In order to deal with the challenges that come with scarcity of relevant data on instagram, we decided to train our model on data scraped from users who generally post with longer text and few decent hashtags from which we can derive better context. This results in a high avg. length of posts of 64.80. We also tried to scrape a large category of topics in order to get a wider range of topics to train on. We currently have a total of 16558 user based posts and 10335 tag based posts. </p>

			<img src="images/tabledata.jpg" alt="" />

			<h3>The Network and its Evaluation:</h3>
			<p>The State-of-the-art model uses Sequence 2 Sequence with Bi-attention mechanism network which takes posts as well as conversations as data and its corresponding hashtags as true label. A detailed explanation of the model is available in the final deliverable report. <br>
			Evaluation:
				For the final evaluation, popular information retrieval evaluation metrics accuracy and mean average precision (MAP) scores are reported. </p>
				<ol><li>Accuracy is measured by performing word to word match between predicted results and gold standard human annotated data.This is performed for Top 1, Top 5, Top 10 and  Top 15 hashtags.</li>
				<li>Mean Average Precision is a measure of results which takes consideration of ranking of hashtags.</li>
				</ol>		

		</header>
	</div>
</section>