<section id="work1" class="main style3 secondary">

	<div class="content">
		<header>

			<h2>Architecture of the Model:</h2> 
			<div style="text-align: left;">
				<h3>Preprocessing:</h3>
				<ol>
					<li>Removed noisy data like emoticons and non-ASCII data and single character hashtags</li>
					<li>Replaced numbers, URLs, tagged users etc with corresponding tags (DIGIT,  MENTION, URL etc).</li>
					<li>Segregate by tag, post and comments for overall context</li>
					<li>Handling multiple hashtags: post 1 h1 con1, post 1 h2 con2 etc etc (each hashtag should correspond to the same post)</li>
					<li>For training instances tagged with multiple gold-standard hashtags, we copy the instances multiple times, each with one gold standard hashtag following.</li>
					<li>Splitting hashtag for better context and accuracy using the ekphrasis which uses Viterbi algorithm</li>
				</ol>
			</div>

			<div style="text-align: left;">
				<h3>Methodologies tried:</h3>
			</div>
			<div style="text-align: left;">
				<ol>
					<li>The State-of-the-art model uses Sequence 2 Sequence with Bi-attention mechanism network which takes posts as well as conversations as data and its corresponding hashtags as true label.</li>
					<li>We tried clustering and categorizing the generated hashtags to further incorporate ranking by doing topic modelling as well but training the LDA performed poorly as most of the words were named entities and the size of the post was less resulting in bad accuracy. </li>
				</ol>
			</div>
			<img src="images/architecture_ig.jpg" alt="" />

		</header>
	</div>
	<a href="#two" class="button style2 down anchored">Next</a>
</section>